---
layout: default

testimonials_l:
  - name: Stanislav, angličtina pro začátečníky
    text: >
      Vrelo odporucam! Ti, ktori sa chcu zlepsit v anglictine, naucit sa nove veci, oprasit si vedomosti a ujasnit si ich, ci maju problem komunikovat v anglictine, by nemali vahat a prihlasit sa. Sposob ucenia je super i ked som si ho zo zaciatku vobec nevedel predstavit ako to bude fungovat - ale verte funguje to! Clovek sa nenarocnym ba priam primitivnym nauci slovnu zasobu, gramatiku, odbura paniku z komunikacie v cudzom jazyku a okrem toho si uzije kopec zabavy pri vytvarani viet. Absolvoval som cca 10 mesiacov vyucby a som nadmieru spokojny, uz po par dnoch som pocitil zlepsenie a tiez vacsiu istotu. Uz vtedy som vedel ze to nebola moja posledna hodina. Pred tym som problem mal, ale dnes uz ho nemam a nerobi mi problem odpovedat v anglictine, ak ma niekto zastavi napr. na ulici atd... Thank you so much Andrejka... :)

  - name: Andrea, příprava na maturitu
    text: >
      Nejlepší doučovatelka... :) za mě mohu jen doporučit. Na maturitu mě připravila perfektně a díky ní jsem to zvládla i přes krátkou dobu co jsem na to měla. S AJ určitě nekončím a pokračuji dál...

  - name: Petra, obecná angličtina, konverzace
    text: >
      Ráda bych slečnu Andreu doporučila všem, kdo se chtějí se svojí angličtinou "pohnout" z místa a zdokonalit v tomto směru svoji jazykovou vybavenost. Jako věčnému začátečníkovi, který neustále přešlapuje na místě mi výuka u slečny Andrei pomáhá dělat pokroky. Jde hlavně o styl výuky, kdy je mi konečně po letech vše srozumitelně vysvětleno a kdy dokonce nemám obavu a problém mluvit v anglickém jazyce, byť s chybami, ale díky tomu se po krůčcích posouvat dál. Jako lektorka je slečna Andrea jedna z těch nejlepších, které mi s doučováním aj pomáhaly a určitě ji všem doporučuji.

  - name: Alena, začátečník, obecná angličtina
    text: >
      Andrejka je výborná učitelka. Jsem už starší ročník a anglicky jsem se tedy nikdy neučila, Andrejka mě ale svým pozitivním přístupem a trpělivostí naprosto nadchla a dneska je pro mě angličtina velkým koníčkem a na každou hodinu chodím s radostí a zvědavostí, co nového se budeme učit. Andrejku mohu rozhodně doporučit, důležité je hlavně se nebát a začít. Děkuji.

  - name: Jitka, obecná angličtina, konverzace, angličtina pro zdravotnictví
    text: >
      K Andrejce na hodiny AJ chodím už 4 roky a jsem MAXIMÁLNĚ spokojená. Její styl výuky mně velice vyhovuje a hlavně je efektivní.Můžu doporučit!!!

  - name: Monika, obecná angličtina
    text: >
      Andrejka je skvělá učitelka - umí skvěle vysvětlit gramatiku i donutit člověka mluvit... a hlavně má se mnou "svatou" trpělivost!!! :-) DOPORUČUJI!!!

testimonials_r:
  - name: Andrea, angličtina pro začátečníky
    text: >
      Pokud hledáte lektora, který vás posune v angličtině a navíc vám sedne i osobnostně, mohu jen doporučit!! Než jsem začala k Andrejce chodit na angličtinu, byla jsem stále jen věčný začátečník. Což se změnilo po našich společných hodinách, kde mě tato empatická a důsledná lektorka vedla krok za krokem. Dokážu nyní daleko lépe rozumět a číst a především se nebojím mluvit a těším se na každou hodinu, která je pestrá, má koncepci a především mě posouvá, což jsem si už nejednou ověřila na svých zahraničních cestách.

  - name: Pavel, Dachser Brno, angličtina pro logistiku, 60 + 60 hodin
    text: >
      Andrejka dokázala v průběhu 3 týdnů intenzivních lekcí posunout mou angličtinu prakticky z nuly na takový stupeň, že jsem byl schopný absolvovat, při přestupu na jinou pozici, firemní prověrku mých znalostí a po týdnu zkoušek kompletně v angličtině ji i úspěšně prošel. Jsem ji na věky zavázán a nepřestanu obdivovat její nesmírně tolerantní a vstřícný přístup, který byl kupodivu v mém případě i celkem účinný. :)

  - name: Míša, obecná angličtina, konverzace
    text: >
      Děkuji za perfektní přípravu na návrat do práce po mateřské dovolené, za spoustu gramatických tipů a rad, smysluplnou a zábavnou konverzaci a v neposlední řadě individuální přístup.

  - name: Ilona, příprava na maturitu
    text: >
      S angličtinou jsem měla veliké potíže, nemohla jsem poskládat větu. Ale kvůli Andrejce, která má pochopení, jsem se dokázala z velké části naučit jazyk. Její hodiny mě baví, vždy vymyslí nějaké zpestření hodiny. Nemám k tomu, tak negativní postoj, který jsem dříve měla.

  - name: Dominika, příprava na maturitu
    text: >
      S doučováním jsem byla velice spokojená, na vše jsem byla k maturitě připravená. Rozhodně doporučuji a pokud někdy budu potřebovat pomoct s angličtinou, bude jasná volba Andrea!

  - name: Dana, konverzace, gramatika
    text: >
      5 hvězdiček z 5, Andrea je dobrá učitelka, umí se zaměřit na problém a systematicky jej odstraňuje. Na individuálních lekcích se mluvení nevyhnu, ale vždycky odcházím z lekce v pohodě a motivovaná k dalšímu učení (a taky zaúkolovaná). Doporučuji určitě všem věkovým kategoriím, hlavní je začít!

  - name: Pavlína, obecná angličtina
    text: >
      Hodiny s Andreou mi pomohly. Například jsem díky ní pochopila časy a také se s ní naučím mnohem více věcí, než bereme ve škole. Rozhodně doporučuji!

---

{% comment %}

  Forty by Pixelarity
  pixelarity.com | hello@pixelarity.com
  License: pixelarity.com/license

  Name:

    Generic page

  Description:

    General purpose page.

{% endcomment %}

<!-- Main -->
  <div id="main" class="alt">

    <!-- One -->
      <section id="one">
        <div class="inner">
          <header class="major">
            <h1>Reference</h1>
          </header>
          <span class="image main"><img src="{{ site.baseurl }}/images/pic11.jpg" alt="" /></span>
          <div class="row">
          <div class="6u 12u$(small)">
            {% for testimonial in page.testimonials_l %}
              <div class="box">
              <h5>{{ testimonial.name }}</h5>
              <blockquote>{{ testimonial.text }}</blockquote>
              </div>
            {% endfor %}
          </div>
          <div class="6u 12u$(small)">
            {% for testimonial in page.testimonials_r %}
              <div class="box">
              <h5>{{ testimonial.name }}</h5>
              <blockquote>{{ testimonial.text }}</blockquote>
              </div>
            {% endfor %}
          </div>
          </div>
        </div>
      </section>

  </div>