{% comment %}

  Forty by Pixelarity
  pixelarity.com | hello@pixelarity.com
  License: pixelarity.com/license

  Name:

    Footer

  Description:

    Footer with form and contact info.

  Example:

    {% include layout/footer.html %}

{% endcomment %}

<!-- Contact -->
  <section id="contact">
    <div class="inner">
      <section>
        <form method="post" action="https://formspree.io/{{ site.email }}">
          <div class="field half first">
            <label for="name">Jméno</label>
            <input type="text" name="name" id="name" required />
          </div>
          <div class="field half">
              <label for="surname">Příjmení</label>
              <input type="text" name="surname" id="surname" required />
          </div>
          <div class="field half first">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" required />
          </div>
          <div class="field half">
              <label for="phone">Mobil</label>
              <input type="text" name="phone" id="phone" required />
          </div>
          <div class="field">
            <label for="message">Zpráva</label>
            <textarea name="message" id="message" rows="6" required ></textarea>
          </div>
          <ul class="actions">
            <li><input type="submit" value="Poslat" class="special" /></li>
            <!--<li><input type="reset" value="Clear" /></li>-->
          </ul>
        </form>
      </section>
      <section class="split">
        <section>
          <div class="contact-method">
            <span class="icon alt fa-envelope"></span>
            <h3>Email</h3>
            <a href="#">{{ site.email }}</a>
          </div>
        </section>
        <!--
        <section>
          <div class="contact-method">
            <span class="icon alt fa-phone"></span>
            <h3>Phone</h3>
            <span>{{ site.phone }}</span>
          </div>
        </section>
        -->
        <section>
          <div class="contact-method">
            <span class="icon alt fa-home"></span>
            <h3>Adresa</h3>
            <span>{{ site.address }}</span>
          </div>
        </section>
      </section>
    </div>
  </section>

<!-- Footer -->
  <footer id="footer">
    <div class="inner">
      <ul class="icons">
        <li><a href="{{ site.facebook }}" target="_blank" rel="noopener noreferrer" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="{{ site.linkedin }}" target="_blank" rel="noopener noreferrer" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
        <li><a href="mailto:{{ site.email }}" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
      </ul>
      <ul class="copyright">
        <li>&copy; {{ site.owner }}</li>
      </ul>
    </div>
  </footer>