{% comment %}

	Forty by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Menu

	Description:

		Generates the navigation menu.

	Example:

		{% include layout/menu.html %}

{% endcomment %}

<!-- Menu -->
	<nav id="menu">
		<ul class="links">
			<li><a href="{{ site.baseurl }}/">Home</a></li>
			<li><a href="{{ site.baseurl }}/blog">Blog</a></li>
			<li><a href="{{ site.baseurl }}/landing.html">Landing</a></li>
			<li><a href="{{ site.baseurl }}/generic.html">Generic</a></li>
			<li><a href="{{ site.baseurl }}/elements.html">Elements</a></li>
		</ul>
		<ul class="actions vertical">
			<li><a href="#" class="button special fit">Get Started</a></li>
			<li><a href="#" class="button fit">Log In</a></li>
		</ul>
	</nav>